.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    text-align: center;
}



/* For larger screens, switch back to row layout */
@media (min-width: 768px) {
    .hero-container {
        flex-direction: row;
    }


}